*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  /* fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Color */

  --color-text: #434455;
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: #2e2f42;
  --color-navy-blue: #2e2f42;

  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --color-slate: #434455;
}


body {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--color-text);
  letter-spacing: 0.02em;
  line-height: 1.5;
  background-color: var(--color-white);
}


/* h2 */
.title {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--color-navy-blue);
}

/* h3 */

.subtitle {
  margin-top: 0;
  margin-bottom: 8px;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-navy-blue);
}

.features-item .subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

}


/* p */
.text {
  font-weight: 400;
  color: var(--color-text);
}

.features-item .text {
  font-weight: 500;
}


.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}


@media screen and (min-width: 768px) {
  
.features-item .subtitle {
  text-align: left;
}


}

@media screen and (min-width: 1158px) {
  .section {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .features-item .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

    .features-item .text {
    font-weight: 400;
    color: var(--color-text);
}
}

/* ------------------------------Header--------------------------- */
.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  font-style: normal;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--color-ocean);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  padding: 16px 0 16px 0;
}

.logo-text {
  color: var(--color-navy-blue);
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

.menu-open-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  background-color: transparent;
  border: none;
}


  .mob-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
      visibility: hidden;
      opacity: 0;
      pointer-events: 0;
      padding: 24px 24px 24px 16px;
      overflow: auto;
    }
  
    .nav-menu {
      margin-bottom: 50px;
    }
  
    .menu-close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      
      width: 24px;
      height: 24px;

      margin-left: auto;
      margin-bottom: 24px;
  
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid var(--color-cornflower);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    }
  
    .mob-item:not(:last-child) {
      margin-bottom: 24px;
    }
  
  
    .mob-nav-link {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color: var(--color-navy-blue);
  
    }
  
    .mob-address {
      margin-bottom: 48px;
    }
  
    .mob-address-link {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--color-text);
    }
  
  
  
    .mob-socials-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
    }

.mob-socials-list > .socials-item {
  width: 40px;
  height: 40px;
}


@media screen and (min-width: 768px) {
.container {
  width: 768px;
  margin: 0 auto;
  padding: 0 16px;
}

.menu-open-btn {
  display: none;
}
.mob-menu {
  display: none;
}

.logo {
  padding: 24px 0 24px 0;
  margin-right: 120px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address {
  display: block;
  margin-left: auto;
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}


.nav-link {
  display: block;
  margin: 0;
  padding: 24px 0;
    font-weight: 500;
    color: var(--color-navy-blue);
}

.active {
  position: relative;
  color: var(--color-ocean);
}

.active::after {
  content: '';
  display: block;
  position: absolute;

  height: 4px;
  bottom: -1px;

  border-radius: 2px;
  width: 100%;
  left: 0px;

  background-color: var(--color-ocean);
}

.address-link {
  display: block;
  margin: 0;
  padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-slate);
}

.email {
  padding-top: 16px;
}

.tel {
  padding-bottom: 16px;
}
}


@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.logo {
  margin-right: 75px;
}
  .address-list {
    flex-direction: row;    
    align-items: center;
    gap: 40px;
}

  .address-link {
  padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

}
/* ______________________________________________________________________________ */


/* -----------------------------Hero----------------------------- */


.hero {
  background-color: var(--color-navy-blue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/people-office-mob.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
  text-align: center;
}

/* h1 */
.hero-title {
  font-weight: 700;
  max-width: 216px;
  margin: 0 auto 72px auto;
  font-size: 36px;
  line-height: 1.11;
  padding: 0 2px;
  text-align: center;
  color: var(--color-white);

}

.button {
  display: block;
  margin: 0 auto;
  padding: 16px 31px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background: var(--color-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button:hover,
.button:focus {
  background-color: var(--color-ocean);
}

                @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx),  (min-resolution: 192dpi) {
                  .hero {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/people-office-mob-2x.jpg);
                  }
                }

@media screen and (min-width: 768px) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/people-office-tab.jpg);
      padding: 112px 0;
    }
                @media screen and (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 2dppx),
                (min-resolution: 192dpi) {
                  .hero {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/people-office-tab-2x.jpg);
                  }
                } 

  .hero-title {
    max-width: 496px;
    margin: 0 auto 36px auto;
    font-size: 56px;
    line-height: 1.07;
    padding: 0;
    }

        
}




@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/people-office.jpg);
    padding: 188px 0;
  }

                @media screen and (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 2dppx),
                (min-resolution: 192dpi) {
                  .hero {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/people-office-2x.jpg);
                  }
                }

  /* h1 */
.hero-title {
  margin: 0 auto 48px auto;
}
}

/* _____________________________________________________________________________ */



/* ------------------------------Features------------------------ */

.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  gap: 72px;
}

.features-icon {
  display: none;
}


@media screen and (min-width: 768px) {
  .features-list {
      display: flex;
      width: 736px;
      gap: 72px 24px;
    }

.features-item {
  max-width: 356px;
  width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
.features-list {
    display: flex;
    flex-wrap: nowrap;
    width: 1128px;
    gap: 24px; 
  }

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 264px;
  height: 112px;
  border: 1px solid var(--color-light-slate);
  background-color: var(--color-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}


.features-item {

  flex-basis: calc((100% - 3*24px)/4);
}
}


/* ____________________________________________________________________________ */




/* ----------------------------------Our Team---------------------------------- */
.section-team {
  background-color: var(--color-cloud);
}

.section-team .container {
  width: 320px;
  margin: 0 auto;
  padding: 0 28px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover .socials-link {
  background-color: var(--color-ocean);
}

.card-team-bg {
  background-color: var(--color-white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.card-text {
  padding: 32px 0px;
}

.card-text .text {
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:focus {
  background-color: var(--color-ocean);
}

.socials-icon {
  fill: var(--color-cloud);
}

@media screen and (min-width: 768px) {
.section-team .container {
    width: 768px;
  margin: 0 auto;
  padding: 96px 16px;

  }

    .team-list {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 768px;
      column-gap: 24px;
      row-gap: 64px;
    }
.team-item {
  max-width: 264px;
  flex-basis: calc((100% - 24px)/2);
  }
}

@media screen and (min-width: 1158px) {
.section-team .container {
    width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1128px;
    gap: 24px;
  }

    .team-item {
      flex-basis: calc((100% - 3*24px)/4);
      text-align: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
/* _____________________________________________________________________*/





/* ---------------------------------Our Portfolio ---------------------- */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  color: var(--color-cloud);
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-text-portfolio {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}


@media screen and (min-width: 768px) {
  .portfolio-list {
    width: 736px;
    gap: 72px 24px;
  }
  
  .portfolio-item {
    flex-basis: calc((100% - 24px)/2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    width: 1128px;
    gap: 40px 24px; 
    }

  .portfolio-item {
    flex-basis: calc((100% - 2*24px)/3);
    }
}

/* __________________________________________________________________________ */


/* --------------------------FOOTER--------------------------------------- */
.footer {
  padding: 96px 0 96px;
  background-color: var(--color-navy-blue);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.footer .logo {
  display: block;
  margin-bottom: 16px;
  padding: 0;
}

.footer .logo-text,
.footer .text {
  color: var(--color-cloud);
}

.footer .socials-list {
  gap: 16px;
}

.social-media,
.subscribe-title {
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 16px;
  text-align: center;
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: var(--color-green);
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-input {
  display: block;
  padding-left: 16px;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--color-white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

.footer-input::placeholder {
  color: var(--color-white);
}

.subscribe-form>.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  box-shadow: none;
}

.subscribe-form>.button:hover,
.subscribe-form>.button:focus {
  background-color: var(--color-green);
}

.icon-fly {
  margin-left: 16px;
  fill: var(--color-white);
}


@media screen and (min-width: 768px) {
.footer-container {
  gap: 72px 24px;
  justify-content: start;
}

.footer .logo {
  display: inline-block;}
  
.subscribe-form {
  display: flex;
  gap: 24px;
}

.social-media,
.subscribe-title {
  text-align: left;
}
}


@media screen and (min-width: 1158px) {
.footer {
  padding: 100px 0 100px; 
}
  
.footer-container {
  flex-wrap: nowrap;
  gap: 0;

}
.footer-logo {
  margin-right: 120px;
  text-align: left;
}

.footer-social-media {
  margin-right: 80px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
}




/* -----------------Modal window------------------------  */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--color-navy-blue-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%) scale(1);

  padding: 72px 16px 16px 16px;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--color-dairy);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;

  cursor: pointer;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-ocean);
  border: none;
}

.modal-close-icon {
  fill: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover>.modal-close-icon,
.modal-close-btn:focus>.modal-close-icon {
  fill: var(--color-white);
}

.modal-title {
  max-width: 360px;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--color-navy-blue);
}

.step {
  margin-bottom: 8px;
}

.label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.wrapper-input {
  position: relative;
}

.modal-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--color-navy-blue-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--color-iris);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
  fill: var(--color-iris);
}

.step-comment {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover,
.modal-comment:focus {
  border-color: var(--color-iris);
}

.modal-comment::placeholder {
  color: var(--color-light-slate)
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}

.check-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-check-text .check-span,
.modal-check:focus+.modal-check-text .check-span {
  border: none;
  background-color: var(--color-ocean);
  fill: var(--color-cloud);
}

.step-policy {
  margin-bottom: 24px;
}

.link-policy {
  line-height: 1.3;
  font-size: 12px;
  color: var(--color-iris);
  cursor: pointer;
}



@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}